---
import { getCollection } from 'astro:content';

import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';

import Layout from '@layouts/Layout.astro';

import DesertDivider from '@components/dividers/DesertDivider.astro';
import LandscapeDivider from '@components/dividers/LandscapeDivider.astro';
import RockDivider from '@components/dividers/RockDivider.astro';
import WaveDivider from '@components/dividers/WaveDivider.astro';

const trips = await getCollection('trips');
const gear = await getCollection('gear');
const merch = await getCollection('merch');
---

<Layout title="Home">
  <section class="p-20 pb-0">
    <div class="grid grid-cols-2 gap-28">
      <div class="grid gap-14 items-center">
        <h2 class="text-4xl leading-relaxed text-emerald-800 font-serif">Offering trips, events, and good-spirited community to Yale since who knows when.</h2>
        <div class="grid gap-10">
          <h3 class="text-emerald-600 text-3xl font-bold">Join us and get outside!</h3>
          <form class="grid gap-3 grid-flow-col">
            <input type="email" placeholder="Email" aria-label="Email" class="bg-white border border-emerald-400 rounded-lg px-5 py-2 outline-none text-lg text-emerald-800 placeholder:text-emerald-800/50 focus:ring ring-emerald-200 transition-all" />
            <input type="submit" value="Join the newsletter" class="bg-emerald-600 text-white rounded-lg px-5 py-2 text-lg hover:bg-emerald-700 active:bg-emerald-800 transition-colors" />
          </form>
        </div>
      </div>
      <div>
        <figure class="grid gap-5">
          <Image src="/banner.jpg" alt="Yale Outdoors banner image" width={1200} height={750} class="rounded-xl w-full" />
          <div class="flex items-center justify-between">
            <figcaption class="text-gray-700 text-sm">A recent trip to the Adirondacks</figcaption>
            <a class="text-emerald-600 hover:text-emerald-700 active:text-emerald-800 flex items-center gap-2" href="/gallery/">
              View Gallery
              <Icon name="tabler:arrow-right" class="w-6" />
            </a>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <LandscapeDivider />
  <section class="py-20 pb-32 bg-emerald-700 grid justify-center">
    <div class="max-w-4xl grid gap-20">
      <div class="grid gap-10">
        <h2 class="font-serif font-bold text-4xl text-white">What is Yale Outdoors?</h2>
        <p class="text-emerald-100 text-2xl leading-relaxed">
          Yale Outdoors is a group of students who love to get outside. We organize trips to the mountains, the beach, the woods, and everywhere in between. We also host events like rock climbing, kayaking, wilderness medicine trainings, and more. We
          organize trips for all skill levels, and we welcome everyone to join us.
        </p>
      </div>
      <div class="grid gap-10">
        <h2 class="font-serif font-bold text-4xl text-white">How do I join?</h2>
        <p class="text-emerald-100 text-2xl leading-relaxed">
          Yale Outdoors meet every Tuesday at 5:45 PM in the Davenport Buttery. Come grab dinner and stop by! Also, be sure to join the mailing list to keep up-to-date on the latest YO news (see form above).
        </p>
      </div>
      <div class="grid gap-10 justify-start">
        <a href="/about/" class="flex items-center gap-2 text-white text-xl px-16 py-3 bg-emerald-600 hover:bg-emerald-800 active:bg-emerald-900 transition-colors rounded-full">
          <!-- <Icon name="tabler:mountain" class="w-6" /> -->
          More about us
        </a>
      </div>
    </div>
    <!-- who we are, when we meet, link to see the board page -->
  </section>
  <RockDivider />
  <section class="p-20 pt-24 pb-10 grid gap-20">
    <div class="flex justify-between items-center">
      <h2 class="text-emerald-700 font-serif font-bold text-4xl">Upcoming Trips + Events</h2>
      <a href="/trips/" class="flex items-center gap-2 text-white text-lg px-16 py-2 bg-emerald-600 hover:bg-emerald-700 active:bg-emerald-800 transition-colors rounded-full">
        <Icon name="tabler:calendar" class="w-6" />
        Full schedule
      </a>
    </div>
    <div class="grid grid-cols-3 gap-10">
      {
        trips.map((trip) => (
          <div class="bg-white rounded-xl p-9 grid gap-7 shadow shadow-emerald-700/10 border border-emerald-300">
            <Image src={trip.data.image} alt={trip.data.title} width={500} height={281} class="rounded-lg border w-full" />
            <div class="grid gap-5 place-items-start">
              <h3 class="text-xl font-medium font-serif">{trip.data.title}</h3>
              <time datetime={trip.data.date.toISOString()} class="bg-emerald-100 px-4 py-1 rounded-full text-emerald-600">
                {trip.data.time
                  ? trip.data.date.toLocaleString('en-US', {
                      weekday: 'long',
                      month: 'short',
                      day: 'numeric',
                      hour: 'numeric',
                      minute: 'numeric',
                      timeZone: 'America/New_York',
                    })
                  : trip.data.date.toLocaleString('en-US', {
                      weekday: 'long',
                      month: 'short',
                      day: 'numeric',
                      timeZone: 'America/New_York',
                    })}
              </time>
              <p class="text-gray-500">{trip.data.description}</p>
            </div>
            <div class="flex items-center gap-3">
              <a href={`/trips/${trip.slug}/`} class="bg-emerald-600 text-white rounded-lg px-6 py-2 text-sm hover:bg-emerald-700 active:bg-emerald-800 transition-colors">
                Register
              </a>
              <a href={`/trips/${trip.slug}/`} class="border border-emerald-500 text-emerald-600 py-2 px-6 rounded-lg transition-colors text-sm hover:bg-emerald-800/10 active:bg-emerald-800/20">
                Trip info
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <DesertDivider />
  <section class="p-24 pt-6 bg-orange-700 grid gap-20">
    <div class="grid grid-cols-2">
      <div class="grid gap-10">
        <h2 class="font-serif font-bold text-4xl text-white">Gear Rentals</h2>
        <p class="text-orange-100 text-xl leading-relaxed">The Yale Outdoors Gear Room has a large collection of supplies that you can rent at low cost. The Gear Room is open from 3 to 5 PM on Thursdays.</p>
      </div>
      <div class="grid justify-end items-center">
        <a href="/gear/" class="flex items-center gap-2 text-white text-xl px-16 py-3 bg-orange-600 hover:bg-orange-800 active:bg-orange-900 transition-colors rounded-full">
          <Icon name="tabler:shopping-cart" class="w-6" />
          Full gear list
        </a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-10">
      {
        gear.map((item) => (
          <div class="bg-white rounded-xl p-9 grid gap-7">
            <Image src={item.data.image} alt={item.data.title} width={500} height={281} class="rounded-lg border w-full" />
            <div class="grid gap-5 place-items-start">
              <h3 class="text-xl font-medium font-serif">{item.data.title}</h3>
              <p class="text-gray-500">{item.data.description}</p>
            </div>
            <div class="flex items-center gap-3">
              <a href={`/gear/${item.slug}/`} class="bg-orange-600 text-white rounded-lg px-6 py-2 text-sm hover:bg-orange-700 active:bg-orange-800 transition-colors">
                View selection
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <WaveDivider />
  <section class="px-24 pt-16 pb-32 grid gap-20">
    <div class="grid grid-cols-2">
      <div class="grid gap-10">
        <h2 class="text-emerald-700 font-serif font-bold text-4xl">Yale Outdoors Merch</h2>
        <p class="text-emerald-600 text-xl leading-relaxed">
          Yale Outdoors has cool merch available for purchase.
          <br />
          All proceeds go towards supporting our club and our trips.
        </p>
      </div>
      <div class="grid justify-end items-center">
        <a href="/gear/" class="flex items-center gap-2 text-white text-xl px-16 py-3 bg-emerald-600 hover:bg-emerald-800 active:bg-emerald-900 transition-colors rounded-full">
          <Icon name="tabler:shopping-cart" class="w-6" />
          View full store
        </a>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-10">
      {
        merch.map((item) => (
          <div class="bg-white rounded-xl p-9 grid gap-7 shadow shadow-emerald-700/10 border border-emerald-300">
            <Image src={item.data.image} alt={item.data.title} width={500} height={281} class="rounded-lg border w-full" />
            <div class="grid gap-5 place-items-start">
              <h3 class="text-xl font-medium font-serif">{item.data.title}</h3>
              <p class="text-gray-500 text-lg">${item.data.price}</p>
            </div>
            <div class="flex items-center gap-3">
              <a href={`/merch/${item.slug}/`} class="bg-emerald-600 text-white rounded-lg px-6 py-2 text-sm hover:bg-emerald-700 active:bg-emerald-800 transition-colors">
                Add to cart
              </a>
              <a href={`/merch/${item.slug}/`} class="border border-emerald-500 text-emerald-600 py-2 px-6 rounded-lg transition-colors text-sm hover:bg-emerald-800/10 active:bg-emerald-800/20">
                Product details
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <section class="px-80 py-32 bg-slate-800 grid gap-16">
    <h2 class="text-white font-serif font-bold text-4xl">Contact Us</h2>
    <form class="grid gap-10">
      <div class="grid grid-cols-2 gap-10">
        <div class="grid gap-3">
          <label for="contact-form-name" class="text-slate-400 text-xl font-medium">Name</label>
          <input id="contact-form-name" type="text" name="name" class="bg-slate-700 text-white rounded-lg px-4 py-2.5 text-lg border border-slate-500 outline-none focus:ring ring-white/10 transition-all focus:border-slate-300" />
        </div>
        <div class="grid gap-3">
          <label for="contact-form-email" class="text-slate-400 text-xl font-medium">Email</label>
          <input id="contact-form-email" type="email" name="email" class="bg-slate-700 text-white rounded-lg px-4 py-2.5 text-lg border border-slate-500 outline-none focus:ring ring-white/10 transition-all focus:border-slate-300" />
        </div>
      </div>
      <div class="grid gap-3">
        <label for="contact-form-message" class="text-slate-400 text-xl font-medium">Message</label>
        <textarea id="contact-form-message" class="bg-slate-700 text-white rounded-lg px-4 py-3 text-lg border border-slate-500 outline-none focus:ring ring-white/10 transition-all focus:border-slate-300" rows="6" name="message"></textarea>
      </div>
      <div class="grid justify-end">
        <input type="submit" value="Send" class="bg-slate-700 text-white rounded-lg px-6 py-2 text-lg hover:bg-slate-600 active:bg-slate-500 transition-colors" />
      </div>
    </form>
  </section>
</Layout>
